footer{

	.boxBlue{
		background-color: @blue;
		width: 100%;
		padding: 20px 0;
		margin-bottom: 10px;
		.clearfix;

		.gist{
			background: url(../images/logo_gist.png) no-repeat;
			background-size: 100%;
			.size(250px, 240px);
			margin-right: 120px;
			text-indent:-9999px;
			display: block;
			float: left;
		}

		a{
			color: #FFF;
		}

		h3{
			color: #FFF;
			text-transform: uppercase;
			font-size: 26px;
			font-weight: 800;
			margin-bottom: 30px;
		}

		.menus{
			float: left;
			margin-right: 60px;

			a{
				font-size: 16px;
				line-height: 30px;

				&:hover{
					color: rgba(255,255,255,0.8);
				}
			}
		}

		#searchUnits{
			width: 330px;
			float: left;

			.selectUnit{
				.selectUnit(@blueDarker);
				ul{
					top: 40px;
				}
			}
		}
	}

	> .wrap-content{
		position: relative;

		p{
			width: 70%;
			float: left;
		}
	}

	#socialNews, #quicklyContact{

		width: 300px;
		float: right;

		h3{
			margin-bottom: 20px;
		}

		ul{
			.clearfix();
			margin-bottom: 20px;

			li{
				float: left;
				margin-right: 10px;

				a{
					&:before{
						color: @blue;
						background-color: #FFF;
						border-radius: 100%;

						font-size: 25px;
						padding: 15px;
						text-align: center;
					}
				}
			}
		}


		input{
			font-size: 16px;
			margin-bottom: 10px;
		}

		.btn-pink{
			font-size: 18px;
			float: right;
			width: auto;
			padding: 6px 10px;

			&:hover{
				padding: 7px 10px 5px !important;
			}
		}
	}
}

/*
*Footer page default
*/

.is-space{
  position: absolute;
  right: 0px;
  width: 160px;

  strong{
    float: left;
    line-height: 40px;
    margin: 0 10px 0 0;
  }

  #logo-is{
    display: block;
    width: 85px; height: 28px;
    float: left;
    background: url(../images/default/logo-is.png) no-repeat;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
  }

  .fb-like{
    width: 57px;
    overflow: hidden;
    top: 10px;
    left: 10px;
    position: relative;
  }
}

